body{
    margin: 0;
}
#header{
    background: sandybrown;
    height: 100px;
    width: 100%;
}
#main{
    background:chocolate;
    height:300px;
    width:70%;
    float: left;
}
#sidebar{
    background:blue;
    height:300px;
    width: 30%;
    float:left;
}
#footer{
    background: gold;
    height: 100px;
    width: 100%;
    clear:both;
}